---
- name: Replace global nginx config with clean (hostless) default
  copy:
    src: '{{ item }}'
    dest: /etc/nginx/nginx.conf
    owner: root
    group: root
    mode: 0644
  with_fileglob:
    - 'files/nginx_hostless_{{ ansible_distribution }}.conf'
  when: nginx_hostless_global_config

#- name: Create nginx config - uwsgi
#  template:
#    src: templates/nginx-uwsgi-http.conf.j2
#    dest: '{{ nginx_dir }}/{{ nginx_server_name }}.conf'
#    owner: root
#    group: root
#    mode: 0644
#    force: yes

- name: Create nginx config - gunicorn
  template:
    src: templates/nginx-gunicorn-http.conf.j2
    dest: '{{ nginx_dir }}/{{ nginx_server_name }}.conf'
    owner: root
    group: root
    mode: 0644
    force: yes

- name: ensure letsencrypt directory exists for future ssl
  file:
    name: '{{ ssl_dir }}'
    state: directory
