[Unit]
Description=Gunicorn
After=syslog.target

[Service]
ExecStart=/usr/bin/gunicorn -c /etc/gunicorn/{{ app_name }}.py -b unix://{{ base_dir }}/gunicorn.sock {{ gunicorn_module }}
# ExecStart=/usr/bin/uvicorn -c /etc/gunicorn/{{ app_name }}.py --uds {{ base_dir }}/gunicorn.sock {{ gunicorn_module }}
# Requires systemd version 211 or newer
RuntimeDirectory=gunicorn
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
