---
- name: install letsencrypt
  apt:
    name: letsencrypt
    state: latest

- name: update/upgrade letsencrypt
  apt:
    upgrade: yes
    update_cache: yes
    cache_valid_time: 86400 #One day

- name: ensure letsencrypt directory exists
  file:
    name: '{{ ssl_dir }}'
    state: directory

- name: Check that the pem exists
  stat:
    path: /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem
  register: pem_exists

- name: Create letsencrypt certificate
  shell: letsencrypt certonly -n --webroot -w {{ ssl_dir }} -m {{ letsencrypt_email }} --agree-tos -d {{ domain_name }}
  args:
    creates: /etc/letsencrypt/live/{{ domain_name }}
  when: pem_exists.stat.exists == False

- name: Add letsencrypt cronjob for cert renewal
  cron:
    name: letsencrypt_renewal
    special_time: weekly
    job: letsencrypt --keep-until-expiring certonly -n --webroot -w {{ ssl_dir }} -m {{ letsencrypt_email }} --agree-tos -d {{ domain_name }} && service nginx reload
  when: pem_exists.stat.exists == False

#- name: Update nginx for ssl
#  template:
#    src: templates/nginx-uwsgi-ssl.conf.j2
#    dest: '{{ nginx_dir }}/{{ nginx_server_name }}.conf'
#    owner: root
#    group: root
#    mode: 0644
#    force: yes

- name: Update nginx for ssl
  template:
    src: templates/nginx-gunicorn-ssl.conf.j2
    dest: '{{ nginx_dir }}/{{ nginx_server_name }}.conf'
    owner: root
    group: root
    mode: 0644
    force: yes

- name: Restart nginx
  systemd:
    name: nginx
    state: restarted

#- name: Let the web app see the SSL files via permissions/ownership
#  file:
#    path: '/etc/letsencrypt/live/'
#    owner: '{{ uid }}'
#    group: '{{ gid }}'
#    mode: 0775
#    state: directory
#    recurse: yes